<app-navbar></app-navbar>
<div class="container-md">
  <h5 class="mb-3">Technology areas</h5>
  <div class="row shadow-sm p-3 mb-3 bg-white rounded">
    <app-crud-technology-area></app-crud-technology-area>
  </div>
  <h5 class="mb-3">Skills</h5>
  <div class="row shadow-sm p-3 mb-3 bg-white rounded">
    <app-add-skills></app-add-skills>
  </div>
  <h5 class="mb-3">Regions</h5>
  <div class="row shadow-sm p-3 mb-3 bg-white rounded">
    <app-regions></app-regions>
  </div>
  <h5 class="mb-3">Projects</h5>
  <div class="row shadow-sm p-3 mb-3 bg-white rounded">
    <app-create-project></app-create-project>
  </div>
</div>
