<!--<form>-->
<!--  <div ng-if="message">-->
<!--    {{ message }}-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Email address</label>-->
<!--    <input [(ngModel)]="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputPassword1">Password</label>-->
<!--    <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">-->
<!--  </div>-->
<!--  &lt;!&ndash;<div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>&ndash;&gt;-->
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!-- Default form login -->


<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="w-50 p-3" style="background-color: #eee;">
    <h3>Login</h3>
    <form>
      <div class="form-group">
        <label for="loginUsername">Username</label>
        <input [(ngModel)]="username" type="text" name="username"
               class="form-control"
               id="loginUsername"
               placeholder="Enter username">
        <div class="message">
          <a  *ngIf="message4 === 1 " >Username required <br> </a>
        </div>

      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input [(ngModel)]="password" type="password" name="password"
               class="form-control"
               id="loginPassword"
               placeholder="Password">
      <div class="message">
        <a  *ngIf="message5 === 1 " >Password required <br> </a>
      </div>
      </div>

    <a  *ngIf="message1 === 1 " ><b>Wrong username or password</b>  <br>  <br><b> Remaining attempts: {{message2}} </b> <br> <br></a>
      <a  *ngIf="message3 === 1 " ><b>Your user is blocked </b><br>  <br> </a>

      <button type="submit"
              class="btn btn-primary" (click)="Login()">Login <i class="fas fa-sign-in-alt"></i></button>
      <!-- Register -->
      <p>Not a member?
        <a href="register" routerLinkActive="active">Register</a>
      </p>
    </form>
  </div>
</div></div>
