@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");

table th {
  padding-top: 0 !important;
  border: 0 !important;
}

table {
  margin-bottom: 0 !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.02) !important;
}

body {
  background-color: #F7F7F7;
}

.navbar-dark.bg-primary, .badge.bg-primary {
  background-color: #3498db !important;
}

.navbar-dark.bg-primary .nav-item {
  padding-right: .75rem;
  padding-left: .75rem;
  border-bottom: 1rem;
}

.navbar-dark.bg-primary .nav-item a {
  border-bottom: 2px solid #3498db;
  border-top: 2px solid transparent;
  color: white !important;
  cursor: default;
}

.navbar-dark.bg-primary .nav-item a svg {
  margin-bottom: 3px;
  margin-right: 5px;
}

.navbar-dark.bg-primary .nav-item a:hover {
  border-bottom: 2px solid white;
}

.badge.bg-primary {
  color: white !important;
  margin-right: .25rem;
  font-size: 10pt;
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

#NavbarDropdownMenu a {
  color: black !important;
  border: none;
}

#NavbarDropdownMenu a:active {
  color: white !important;
}
