table, th,td {
  border:1px solid black;
  width:1000px;
  text-align:center;
}
.but{
  width:20%;
}
.id{
  width:15%;
}
.successbtn{
  height:40px;
  width:150px;
  background-color: green;
  color: #eeeeee;
}
