<!--<div class="insert-form">-->
<!--<div>-->
<!--  <div>-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="newName">insert name:</label>-->
<!--        <input [(ngModel)]="newName" type="text" name="newName"-->
<!--               class="form-control"-->
<!--               id="newName"-->
<!--               placeholder="">-->
<!--      </div>-->
<!--      <button type="submit"  class="successbtn" (click)="insert(newName)">add<i class="fas fa-sign-in-alt"></i></button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th style="width:90%">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let area of techAreas; let i=index">
    <td class="id">{{i}}</td>
    <td >{{area}}</td>
    <!--<td class="but"> <button type="submit"  class="btn btn-danger" (click)="delete(area)">delete<i class="fas fa-sign-in-alt"></i></button> </td>-->
  </tr>
  </tbody>
</table>
