<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="w-50 p-3" style="background-color: #eee;">
      <h3>Profile Skills</h3>
      <div>
        <img src="profile.png" alt="Avatar" class="avatar">
      </div>
      <div>
        <a>Personal Skills </a> <button class="button button5">+</button>
      </div>
      <div class="div1">
        <button class="button1">Back</button><button class="button2">Done</button>
      </div>
      <div class="div1">
        <button class="button3">Save PDF</button>
      </div>
    </div>
  </div>
</div>
