<app-navbar></app-navbar>
<!--<div class="container-md">-->
<!--  <h5 class="mb-3">Users</h5>-->
<!--  <div class="row shadow-sm p-3 mb-3 bg-white rounded">-->


<!--<table class="table">-->
<!--  <thead class="thead-dark">-->
<!--  <tr>-->
<!--    <th scope="col">#ID</th>-->
<!--    <th scope="col">First Name</th>-->
<!--    <th scope="col">Last Name</th>-->
<!--    <th scope="col">Consulting Level</th>-->
<!--    <th scope="col">Verified</th>-->
<!--    <th scope="col"> <form class="form-inline">-->
<!--    <div class="form-group">-->
<!--      <label for="technologyAreas" ></label>-->
<!--      <select [(ngModel)]="query" id="technologyAreas" name="techarea">-->
<!--        <option *ngFor="let tech of techArea" [value]="tech">{{tech}}-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->

<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filter()">Search</button>-->
<!--  </form></th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let element of list">-->
<!--    <td>{{ element.id }}</td>-->
<!--    <td>{{ element.first_name }}</td>-->
<!--    <td>{{ element.last_name }}</td>-->
<!--    <td>{{ element.id_consulting_level }}</td>-->
<!--    <td>{{ element.verified }}</td>-->

<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--  </div>-->
<!--</div>-->
<div class="container-md">
  <div class="row">
    <div class="col">
      <h5 class="mb-3">Users</h5>
    </div>
    <div class="col-md-auto">
      <form class="form-inline">
        <div class="form-group">
          <label for="technologyAreas" ></label>
          <select [(ngModel)]="query" id="technologyAreas" name="techarea">
            <option *ngFor="let tech of techArea" [value]="tech">{{tech}}
            </option>
          </select>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filter()">Search</button>
      </form>
    </div>
  </div>

    <a class="profile-card" href="/dashboard/employee/{{ element.id }}" *ngFor="let element of list">
    <div class="row shadow-sm p-3 mb-3 bg-white rounded">
        <div class="col-3">
          <img [src]="picture" alt="image" style="width: 170px; height: 170px">
        </div>

      <ul id="profileUI" class="list-group list-group-flush" style="width: 65%">
        <h1 style="font-weight: lighter; margin-bottom:0; margin-top: 20px;">{{element.first_name}} {{element.last_name}}</h1>
        <p class="mb-4">Consulting level {{ element.id_consulting_level }}</p>
        <span *ngIf="isVisible">
        <p class="mb-4" *ngIf="element.verified === 1"><b>Verified</b></p>
        <p class="mb-4" *ngIf="element.verified === 0"><b style="color: red">Pending approval</b></p></span>
      </ul>
    </div>
    </a>
</div>
